* {
    
    }
    
    /* styles to apply to body */
    
    body {
      
    
    font-family: 'Roboto', sans-serif;
    }
    
    .flex-container {
    width: 1000px;
    
    }
    
    .user-card {
    
    overflow: hidden;
    }
    
    .card-header {
    
    }
    
    .card-body {
    padding: 20px;
    }
    
    .card-body h1,
    .card-body h2,
    .card-body h3,
    .card-body p {
    margin: 20px 0px;
    }
    
    .avatar-m {
    border-radius: 50%;
    
    
    }
    
    .icon-s {
    height: 20px;
    }
    
    a {
    
    }

